@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



    @if (User.Identity.IsAuthenticated)
    {

        <span>Merhaba, @User.Identity.Name</span>
        @if (User.HasClaim("statu", "5"))
        {

            <span>Merhaba VIP KULLANICI</span>

        }
        <a asp-action="Logout" asp-controller="Account">Çıkış Yap</a>

    }
    else
    {
        <a asp-action="Login" asp-controller="Account">Giriş Yap</a>


    }
</div>
